/* -------------------------------------------------------------------------- */
/*                              Scrollbar styling                             */
/* -------------------------------------------------------------------------- */
::-webkit-scrollbar {
  height: 5px; // For horizontal scrollbars
  width: 5px; // For vertical scrollbars
  background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: none;
}

/* -------------------------------------------------------------------------- */
/*                                 APP styling                                */
/* -------------------------------------------------------------------------- */
// Make frameless window draggable while excluding buttons and tabs, which still have to be clickable
.v-app-bar {
  -webkit-app-region: drag;

  .v-tabs,
  button {
    -webkit-app-region: no-drag;
  }
}

// Override font-family of vue-toasted
.toasted {
  font-family: $body-font-family;
}

.bg-transparent-dark {
  background: $transparency;
}

// Components with backdrop filter
.v-app-bar,
.v-footer .backdrop,
.v-list {
  backdrop-filter: blur(10px);
}