/* -------------------------------------------------------------------------- */
/*                                 APP styling                                */
/* -------------------------------------------------------------------------- */
html {
  overflow-y: scroll;
}

div#app {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content;
}
