[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=man:syncthing(1)

[Service]
User=1001
Group=users
UMask=0002
ExecStart=/usr/bin/syncthing -no-browser -no-restart -logflags=0 -home=<YOUR_HOME_DIR_HERE>
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target