@import '~vuesax/dist/style/vuesax.styl';

.vs-tabs--li button
    font-size: 18px

.vs-tabs--btn-icon
    font-size: 18px

.con-slot-tabs
    width: 100%

.vs-tabs--content
    background: rgba(100, 100, 100, 0.2);